body {
  color: #272727;
	font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}
  
  h1.product-page {
    font-weight:800;
    margin: 0 0 20px;
    padding:0;
    font-size:26px;
    color:rgb(29, 96, 196);
  }
  h2.product-page {
    padding: 0;
    font-size:20px;
    color:rgb(0, 0, 0);
    width: 900px;
  }
  p {
    margin: 0 0 20px;
    padding: 0;

  }
  p.product-info-meta {
    margin:0;
  }
  p.product-body {
    font-size: 19px;
    line-height: 20px;
    font-weight: 400;
  }
  .padding {
    padding: 20px;
  }
  .container {
    width:982px;
    margin:0 auto;
    background:#fff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    padding: 0;
  }
  
  .product-container {
    margin:0 0 20px;
  }
  .product-left-container {
    width:542px;
    padding: 20px;
    min-height:200px;
    max-height: 400px;
    float:left;
  }
  .product-col-container {
    width: 360px;
    padding: 20px;
    min-height:200px;
    float:left;
  }
  .main-product-container .product-left-container {
    background:#ededed;
    min-height: 440px;
    border-bottom: 1px solid #ddd;
  }
  .main-product-container .product-col-container {
    background:#fafafa;  
    min-height: 440px;
    border-bottom: 1px solid #ddd;
    border-left:1px solid #ddd;
    width: 359px;
  }
  .quantity {
    height: 40px;
    line-height: 38px;
    border:1px solid #ddd;
    display:inline-block;
    border-right:0;
    padding: 0 20px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }

  h2.product-page {
    font-weight: 300;
  }
  .anuncio {
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: 25px;
    background-color: #afafaf28;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
    overflow-y: scroll;
  }
  .anuncio > div {
    margin: 4px 0 0 0;
    font-weight: 300;
    transition-duration: 300ms;
  }
  .anuncio:hover {
    color: rgb(38, 136, 38);
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  a {
    text-decoration: none;
    color: #000;
  }