html{ font-size: 100%; height: 100%;  overflow-x: hidden; touch-action: manipulation; }

body{ font-size: 15px; font-family: 'Roboto', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #fff; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

p{ line-height: 1.6; font-size: 1.05em; font-family: 'Maven Pro', sans-serif; font-weight: 400; color: #555; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.8em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.5em; }
h5{ font-size: 1.2em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #FFAD4D; }

b{ font-weight: 500; }

img{ width: 100%; height: 220px;}

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

b.light-color{ color: #444; }

/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.btn{ font-size: .9em; padding: 15px 30px; border-radius: 1px; letter-spacing: 2px; 
	border: 1px solid #FFAD4D; background: #FFAD4D; color: #fff; }

.btn:hover{ color: #FFAD4D; background: none; }

.btn-2{ background: none; color: #FFAD4D; }

.btn-2:hover{ background: #FFAD4D; color: #fff; }

.section{ padding: 50px 0 10px; }

.card{ background: transparent; border: 0; }


/* ---------------------------------
3. MENU
--------------------------------- */

header{ position: absolute; left: 0; right: 0; top: 0; z-index: 1000; font-size: .95em; 
	box-shadow: 0px 2px 10px rgba(0,0,0, .3); background: transparent; }


/* BOTTOM AREA */

header .bottom-area{ text-align: left; }

header .main-menu{ font-weight: 500; margin-left: 1rem;}

header .main-menu > li > a{ height: 60px; line-height: 60px; padding: 0 25px; }

header .main-menu > li > a:hover{ background: #eee; }

header .visible.main-menu{ display: block; }

/* DROPDOWN MENU STYLING */

header .main-menu li.drop-down{ position: relative; text-align: left; }

header .main-menu li.drop-down > ul.drop-down-menu{ display: none; position: absolute; top: 60px; left: 0; 
	min-width: 200px; box-shadow: 0px 3px 10px rgba(0,0,0,.3); background: #FFAD4D; }

header .main-menu li.drop-down > ul.drop-down-menu li{ display: block; border-top: 1px solid #ddd; }

header .main-menu li.drop-down > ul.drop-down-menu li > a{ display: block; padding: 12.5px 20px; }

header .main-menu li.drop-down > ul.drop-down-inner li:first-child{ border-top: 0; }

header .main-menu li i{margin-left: 10px; }


/* DROPDOWN SUBMENU */

header .main-menu li.drop-down > ul.drop-down-inner{ top: 0; left: auto; left: 100%; }


/* DROPDOWN HOVER */

header .main-menu li a.mouseover{ background: #F2F3F4; }

header .main-menu li.drop-down a.mouseover + ul.drop-down-menu{ display: block; 
	animation: full-opacity-anim .2s forwards; }


@keyframes full-opacity-anim{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}

/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider{position: relative; height:100vh; min-height: 550px; width: 100%; overflow: hidden; }  
 
.main-slider .slider-content{ padding: 25px 60px 25px 40px!important; border-radius: 3px!important;
	background: rgba(0,0,0,.6); color: #fff; }

.slider-content .btn{ padding: 7px 15px; }

.slider-content .title{ margin: 10px 0 0; letter-spacing: 3px; }

#slider{ height: 100%; width: 100%; }
 
.main-slider .ls-nav-prev,
.main-slider .ls-nav-next{ display: block!important; opacity: 1!important; }


/* ---------------------------------
5. SINGLE POST
--------------------------------- */

.product-posts .single-post{ margin-bottom: 60px; }

.single-post .title{ margin: 20px 0 15px; }

.single-post .buy-btn{ clear: both; margin-top: 30px; box-shadow: 1px 10px 15px rgba(0,0,0, .15); 
	border: 1px solid #FFAD4D; background: #fff; color: #FFAD4D; }

.single-post .buy-btn:hover{ box-shadow: 1px 3px 15px rgba(0,0,0, .15); background: #FFAD4D; color: #fff; }


/* ---------------------------------
6. SIDEBAR STYLING
--------------------------------- */

.sidebar-section{ margin-bottom: 50px; }

.sidebar-section .title{ margin-bottom: 30px; }

.sidebar-area img{ max-width: 600px; }

/* ---------------------------------
8. FOOTER
--------------------------------- */

.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}